---
import { getCollection } from "astro:content";
import Layout from "@layouts/Layout.astro";
import Container from "@components/Container.astro";
import { CV } from "@consts";
import CVCard from "@components/CVCard.astro";

// TO Modify
const works = [
  {company:"Austrian Space Weather Office, Geosphere Austria", time: "May 2023-Present", job_title: "Postdoctoral Researcher", location: "Graz, Austria", description: "Computer vision and machine learning for Space Weather"},
  {company:"INRIA Grenoble", time: "Feb. 2018 - Jul. 2018", job_title: "Master thesis internship ", location: "Grenoble, France", description: "Proposing a Deep learning model capable of predicting a chess player’s visual attention"},
  {company:"LIGLab Grenoble", time: "Feb. 2017 - Jul. 2017", job_title: "Training research internship ", location: "Grenoble, France", description: "Gesture recognition using Deep Learning methods"},

  //{company:"Company A", time: "2022-Present", job_title: "Research Scientist", location: "London, UK", description: "Your Notes about the job"},
]
const educations = [
  {school:"University of Lincoln", time: "2018-2022", job_title: "PhD in computer science", location: "Lincoln, UK", description: "3D computer vision for Strawberries phenotyping and robotic picking"},
  {school:"Université Grenoble Alpes", time: "2016-2018", job_title: "Masters in computer science", location: "Grenoble, France", description: "machine learning, robotics, computer vision, computer graphics"},
  {school:"Edinburgh Napier University", time: "2015-2016", job_title: "Bsc in computer science", location: "Edinburgh, UK", description: "computer science, computer graphics"},
  {school:"University of Lincoln", time: "2013-2015", job_title: "DUT Software Engineering", location: "Grenoble, Framce", description: "Software Engineering"},
]
---

<Layout title={CV.TITLE} description={CV.DESCRIPTION}>
  <Container>
    <aside data-pagefind-ignore>
      <div class="space-y-2 md:space-y-10">
        <div class="animate font-semibold text-black dark:text-white">
          Work Experience
        </div>
        <ul class="animate not-prose flex flex-col gap-4">
          {works.map((work) => (
              <CVCard institution={work.company} time={work.time} job_title={work.job_title} location={work.location} description={work.description} />)
          )}
        </ul>
        <div class="animate font-semibold text-black dark:text-white">
          Education
        </div>
        <ul class="animate not-prose flex flex-col gap-4">
          {educations.map((education) => (
            <CVCard institution={education.school} time={education.time} job_title={education.job_title} location={education.location} description={education.description} />)
        )}
        </ul>
      </div>
    </aside>
  </Container>
</Layout>
